body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #495464 !important;
}

label,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #495464 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-input-number-lg,
.ant-select-selector {
  width: 100%;
}

button {
  min-width: 250px;
}

@media only screen and (max-width: 992px) {
  .ant-form-item {
    margin-bottom: 6px;
  }
}

.step-wrapper {
  animation: fade-in-bottom 0.3s ease-in-out;
}

.step-title {
  animation: fade-in-top 0.3s ease-in-out;
}

@keyframes fade-in-bottom {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fade-in-top {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.limit-error > .ant-select-selector {
  border: 1px solid red !important;
}